<!DOCTYPE HTML>
<!--[if IE 6]>
<html id="ie6" lang="en-US" class="ie ie6 lt-ie9">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" class="ie ie7 lt-ie9">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" class="ie ie8 lt-ie9">
<![endif]-->
<!--[if gte IE 9]>
<html lang="en-US" class="ie ie9">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="en-US" class="">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<!--
	<meta name="viewport" content="initial-scale=1.0 minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="marcolago">

	<meta property="og:title" content="Flowtime.js A HTML Presentation Framework">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://flowtime-js.marcolago.com">
	<meta property="og:image" content="http://flowtime-js.marcolago.com/assets/img/share-image.jpg">
	<meta property="og:site_name" content="Flowtime.js">
	<meta property="fb:admins" content="1293500397">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://flowtime-js.marcolago.com">
	<meta name="twitter:title" content="Flowtime.js - A HTML Presentation Framework">
	<meta name="twitter:description" content="Flowtime.js is an open source framework for easily build HTML presentations or websites. It’s built with web standards in mind and on top of a solid full page grid layout powered by CSS3 hardware accelerated transition and comes with a complete set of Javascript API for deep customization.">
	<meta name="twitter:image" content="http://flowtime-js.marcolago.com/assets/img/share-image.jpg">
	<meta name="twitter:creator" content="@marcolago">

	<meta name="description" content="Flowtime.js is an open source framework for easily build HTML presentations or websites. It’s built with web standards in mind and on top of a solid full page grid layout powered by CSS3 hardware accelerated transition and comes with a complete set of Javascript API for deep customization.">
	-->
	<title>Itux2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="images/favicon.ico" />

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/angular-toastr.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/styles/home/reset.css">
	<link rel="stylesheet" href="/styles/home/flowtime.css">
	<link rel="stylesheet" href="/styles/home/default.css">
	<link rel="stylesheet" href="/styles/home/prism.css">
	<link rel="stylesheet" href="/styles/home/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/home/fotorama.css">
	<link rel="stylesheet" href="/styles/home/supernova.umin.css">
	<link rel="stylesheet" href="/styles/home/style.css">
	<link rel="stylesheet" href="/styles/home/marketing2.css">
	<link rel="stylesheet" href="/styles/home/3defe.css">
	<link rel="stylesheet" href="/styles/home/ander.css">
	<!--STYLES END-->

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">

</head>
<body class="">
	<div class="flowtime">
		<div class="ft-section" data-id="section-1">
			<div id="/section-1/page-1" class="ft-page" data-id="page-1" data-title="Home">
				<section id="cover" class="section section--fs cover cover--with-startfield">
				    <div class="covered image-holder"></div>
				    <canvas class="cover__starfield"></canvas>
				    <!-- tob-bar -->
				    <div class="row fullwidth collapse top-bar-row">
				      <div class="large-12 columns">
				        <nav class="top-bar" data-topbar>
				          <ul class="title-area">
				            <li class="name">
				              <a href="/" class="collapse">
				                <!--<img src="images/originalmockups-logo.svg" alt="Original Mockups">-->
				              </a>
				            </li>
				            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
				          </ul>
				          <section class="top-bar-section">
				            <!--<ul class="top-menu left">
				              <li><a href="#mockups" title="Mockups" data-scrollto="#mockups"><strong>Mockups</strong></a></li>
				              <li><a href="#features" title="Features" data-scrollto="#features"><strong>Features</strong></a></li>
				              <li><a href="http://originalmockups.com/contact" title="Support"><strong>Support</strong></a></li>
				              <li><a href="#faq" title="Faq" data-reveal-id="faq"><strong>Faq</strong></a></li>
				              <li><a href="#comments" title="Buy" data-scrollto="#comments"><strong>Comments</strong></a></li>
				            </ul>-->
				            <ul class="top-menu right top-menu--buttons">
				              <!--<li><a class="round button hide-for-small" href="http://originalmockups.com/bundles">Bundles</a></li>-->
				              <li><a href="/signup" class="button hide-for-small te4" ><i class="fa fa-user-plus"></i> Signup</a></li>
				            </ul>
				          </section>
				        </nav>
				      </div>
				    </div>
			    
				    <!-- texs -->
				    <div class="cover__texts as-table">
				      <div class="as-cell as-cell--middle">
				        <div class="row fullwidth collapse">
				          <div class="small-12 medium-8 large-7 small-centered medium-uncentered columns test">
				            <!--<h1><img src="images/ituxlogo.png" alt="Supernova Bundle" title="Supernova Bundle"></h1>-->
				            <h1 id="fittext1"><span class="i-col">i</span><span class="t-col">T</span><span class="u-col">u</span><span class="x-col">x</span></h1>
				          </div>
				        </div>
				        <div class="row fullwidth collapse">
				          <div class="small-10 medium-8 large-6 small-centered medium-uncentered columns end test2">
				            <h2>Lorem <strong>80+</strong> IPSUM con sectetur adipisicing elit. Magni reprehenderit</h2>
				          </div>
				        </div>
				      </div>
				    </div>
			    
				    <!-- cover footer -->
				    <div class="row fullwidth collapse cover__footer">
				      <div class="small-12 medium-6 columns">
				        <div class="row collapse">
				          <div class="small-12 medium-12 large-8 columns">
				          	<div class="test5">
				          		<a href="#mockups" class="button button-width-icon button-continue" data-scrollto="#mockups"><i class="fa fa-lg fa-chevron-down"></i></a>
				          		<a href="#mockups" class="button button-width-icon button-continue test3" data-scrollto="#mockups"><i class="fa fa-lg fa-building-o"></i></a>

				            	<a href="#mockups" class="test4" data-scrollto="#mockups"><i class="fa fa-lg fa-building-o"></i> Contáctenos</a>
				          	</div>
				          </div>
				        </div>
				      </div>
				      <div class="small-12 medium-6 columns">
				        <div class="row collapse">
				          <div class="small-12 columns cover__social-buttons">
				            <!--<ul class="inline inline-list">
				              <li><a href="#" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
				              <li><a href="#" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
				              <li><a href="#" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a></li>
				            </ul>-->
				          </div>
				        </div>
				      </div>
				    </div>
			  	</section>
			</div>
			<div id="/section-1/page-2" class="ft-page" data-id="page-2" data-title="A">
				<div class="stack-center">
					<div class="stacked-center">
						<!-- <a href="#/section-1/page-2"><img src="images/logo-white-shadow.png"></a> -->
						<!-- <p class="page-title">A Presentation Framework by <a href="https://twitter.com/marcolago" target="_blank">@marcolago</a></p>
						<p>Press <strong>Down Key</strong> to continue<br> Or <strong>Swipe Up</strong> if you prefer.</p> -->
						<a href="#/section-1/page-1"><img src="images/teclas.jpg"></a>
					</div>
				</div>
			</div>
			<div id="/section-1/page-3" class="ft-page" data-id="page-3">
				<h1>What is it?</h1>
				<p><strong>Flowtime.js</strong> is a framework for easily building HTML presentations or websites.</p>
				<p>It’s built with web standards in mind and on top of a solid full page grid layout.</p>
				<p>The animations are managed with native and accelerated CSS3 transitions.<br>
					Javascript takes care of the navigation behaviour and adds advanced functionalities and configuration options.</p>
				<p>Press <strong>Down Key</strong> or <strong>Swipe Up</strong> to continue.</p>
			</div>
			<div id="/section-1/page-4" class="ft-page" data-id="page-4">
				<h1>Compatibility and Support</h1>
				<p><strong>Flowtime.js</strong> is fully compatible with real moderns browsers:</p>
				<ul>
					<li>Firefox</li>
					<li>Chrome</li>
					<li>Safari</li>
					<li>Opera</li>
					<li>Internet Explorer 10</li>
				</ul>
				<p>Internet Explorer 9 and some old versions of other browsers lack the transitions and some modern Javascript features but the main navigation and functionalities will work.</p>
				<p>In older browsers degrades to a bi-directional scrolling navigation with anchor links.</p>
			</div>
		</div>
		<div class="ft-section iprojects" data-id="section-2">
			<div id="/section-2/page-1" class="ft-page iprojects-content" data-id="page-1" data-title="Projects">
				<section id="relax">
					<div fm-grid-col="large-6" fm-well="dark" fm-align="center">
						<div fm-relax-center="">
							<!--<button class="example facebook">Like this!</button>
							<button class="example twitter">Tweet this!</button>
							<button class="example pinterest">Pin this!</button>
							<button class="example yahoo">Login with Yahoo</button>-->
							<!-- Container -->
							<div class="thumb">
								<!-- Image -->
								<a href="#">
									<!-- Label -->
									<span>Three-eyed Robot</span>
								</a>
							</div>
						</div>
					</div>
					<div fm-grid-col="large-6">
						<div fm-relax-container="" fm-relax-center="">
							<h2>Lorem ipsum dolor !</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati modi ullam enim in eligendi, animi earum laboriosam perspiciatis deleniti eaque dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus praesentium.</p>
							<a href="" fm-button="large">Lorem ipsum dolor.</a>
							<span><img src="images/check.svg"> Lorem ipsum dolor.</span>
						</div>
					</div>
				</section>
			</div>
			<div id="/section-2/page-2" class="ft-page" data-id="page-2">
				<h1>Lorem ipsum dolor sit</h1>
				<p>Lorem ipsum <strong>dolor sit</strong> dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus praesentium:</p>
				<ul>
					<li><strong>Lorem ipsum</strong> Lorem ipsum dolor sit amet, consectetur adipisicing i.</li>
					<li><strong>Lorem ipsum</strong> Lorem ipsum dolor sit amet, consectetur adipisicing i.</li>
					<li><strong>Lorem ipsum</strong> Lorem ipsum dolor sit amet, consectetur adipisicing i.</li>
					<li><strong>Lorem ipsum</strong> Lorem ipsum dolor sit amet, consectetur adipisicing i.</li>
				</ul>
			</div>
			
		</div>

		<div class="ft-section" data-id="section-3">
			<div id="/section-3/page-1" class="ft-page" data-id="page-1">
				<h1>Lorem ipsum dolor</h1>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus praesentium.</p>
				<p class="ft-fragment">Expedita a, odio consectetur cupiditate <span class="ft-fragment">Expedita a, odio consectetur cupidit, <span class="ft-fragment">one <span class="ft-fragment">at <span class="ft-fragment">a <span class="ft-fragment">time.</span></span></span></span></span></p>
				<p class="ft-fragment">Expedita a, odio consectetur cupidit consectetur dolorem temporibus<br>
					You can learn how in the <a href="https://github.com/geek--/Hybrid-iTux-platform" target="_blank">documentation</a>.</p>
			</div>
			<div id="/section-3/page-2" class="ft-page" data-id="page-2">
				<h1>Lorem ipsum dolor</h1>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias.<p>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus molestias.</p>
				<ul>
					<li class="ft-fragment step">The <code>.step</code> odio consectetur cupidit con;</li>
					<li class="ft-fragment shy">The <code>.shy</code> odio consectetur cupidit con;</li>
					<li class="ft-fragment">Expedita a, odio consectetur cupidit consectetur dolorem temporibu.</li>
				</ul>
				<p><span class="ft-fragment shy">This</span> <span class="ft-fragment shy">is</span> <span class="ft-fragment shy">a</span> <span class="ft-fragment shy"><code>.shy</code></span> <span class="ft-fragment shy">example!</span></p>
				<p><span class="ft-fragment step">And</span> <span class="ft-fragment step">this</span> <span class="ft-fragment step">is</span> <span class="ft-fragment step">a</span> <span class="ft-fragment step"><code>.step</code></span> <span class="ft-fragment step">one!</span></p>
			</div>
		</div>

		<div class="ft-section" data-id="section-4">
			<div id="/section-4/page-1" class="ft-page" data-id="page-1">
				<h1>Default HTML Structures</h1>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias dolorem temp consectetur dolorem:</p>
				<h1>1<sup>st</sup> HTML Structures</h1>
				<h2>2<sup>nd</sup> HTML Structures</h2>
				<h3>3<sup>rd</sup> HTML Structures</h3>
				<h4>4<sup>th</sup>, 5<sup>th</sup> and 6<sup>th</sup> HTML Structures</h4>
			</div>
			<div id="/section-4/page-2" class="ft-page" data-id="page-2">
				<h1>Unordered Lists</h1>
				<ul>
					<li>HTML Structures.</li>
					<li>HTML Structures.</li>
					<li>HTML Structures.</li>
					<li>HTML Structures!</li>
				</ul>
			</div>
			
		</div>

		<div class="ft-section" data-id="section-5">
			<div id="/section-5/page-1" class="ft-page" data-id="page-1">
				<h1>Dolorum expedita a, odio</h1>
				<p>Images are fluid like all the other content.</p>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus molestias dolorem temporibus molestias.</p>
				<p>Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus molestias dolorem temporibus molestias emporibus molestias.<br>
					Look at the source code to learn how to write the markup.</p>
			</div>
			<div id="/section-5/page-2" class="ft-page" data-id="page-2" data-title="Fluid Images">
				<!-- <a href="http://www.genereavventura.com" target="_blank"><img src="assets/img/genereavventura.jpg"></a> -->
			</div>
			
		</div>

		<div class="ft-section" data-id="section-6">
			<div id="/section-6/page-1" class="ft-page" data-id="page-1">
				<h1>Native Parallax Support</h1>
				<p>By popular demand Flowtime.js includes native parallax support*.</p>
				<p>Simply add a <code>parallax</code> Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus molestias dolorem temporibus molestias. <code>data-parallax</code> attribute.</p>
				<p>For an example go to the <a href="#/section-6/page-2">next page</a>; for more info read the <a href="https://github.com/geek--/Hybrid-iTux-platform" target="_blank">documentation</a>.</p>
				<p><span class="small">* By the way: I’m not a parallax fan; but ehi… this is the "web 3.0".</span></p>
			</div>
			<div id="/section-6/page-2" class="ft-page parallax-demo" data-id="page-2">
				<h1>The Invaders from Audiogalaxy</h1>
				<!-- <img class="kingmix parallax" src="assets/img/kingmix.png" data-parallax="1500,1500">
				<img class="sax parallax" src="assets/img/sax.png" data-parallax="750,750">
				<img class="tone parallax" src="assets/img/tone.png" data-parallax="500,500"> -->
			</div>
			
		</div>

		<div class="ft-section" data-id="section-7">
			<div id="/section-7/page-1" class="ft-page" data-id="page-1">
				<h1>Code Snippets Highlight</h1>
				<p>Code highlight is a courtesy of <a href="http://prismjs.com/" target="_blank">Lea Verou’s Prism</a>.<br>Because I really didn’t want to re-invent the wheel.<br><span class="small"> Dolorum expedita a, odio consectetur cupiditate molestias dolorem temporibus molestias dolorem temporibus molestias.</span></p>
				<pre>
					<code class="language-javascript">function saySomethingSmart()
						{
							alert("The bad craftsman blames his tools!");
						}
					</code>
				</pre>
				<pre>
					<code class="language-css">.is-not-water {
						display: inline-block;
					}
					</code>
				</pre>
				<pre><code class="language-markup">&lt;h1&gt;The Bad Craftsman Blames His Tools!&lt;/h1&gt;</code></pre>
			</div>
			<div id="/section-7/page-2" class="ft-page" data-id="page-2">
				<h1>Events and Custom Implementations</h1>
				<p>When navigated to a page Flowtime.js fires a custom <code>flowtimenavigation</code> event full of useful properties to customize or build your components or behaviours.</p>
				<p>Read the <a href="https://github.com/geek--/Hybrid-iTux-platform" target="_blank">documentation</a> to learn more about this event and its properties.</p>
			</div>
		</div>

		<div class="ft-section" data-id="section-8">
			<div id="/section-8/page-1" class="ft-page" data-id="page-1">
				<h1>Use It! It’s Free</h1>
				<p>This project is open source, feel free to contribute to the development on <a href="https://github.com/geek--/Hybrid-iTux-platform" target="_blank">Github</a>.</p>
				<p>Feedbacks, suggestions and bug reports are welcomes.</p>
				<p>Use it as you wish and build great things.<br>And when you’ll have done let me know the URL, I will appreciate it.</p>
			</div>
			<div id="/section-8/page-2" class="ft-page" data-id="page-2">
				<h1>Thank You</h1>
				<p>Designed and coded by Marco Lago<br>
					Interaction/Experience/Game/Designer/Developer</p>
				<p>You can find me on Twitter as <a href="https://twitter.com/marcolago" target="_blank">@marcolago</a></p>
				<p>If you like this work spread the word, you know how ;)</p>
				<h2>Have Fun</h2>
			</div>
		</div>
	</div>

	<!--<a href="https://github.com/geek--/Hybrid-iTux-platform"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/angular.1.3.15.js"></script>
	<script src="/js/dependencies/angular-toastr.js"></script>
	<script src="/js/dependencies/compareTo.module.js"></script>
	<script src="/js/public/signup/SignupModule.js"></script>
	<script src="/js/public/signup/SignupController.js"></script>
	<script src="/js/public/home/brav1toolbox.js"></script>
	<script src="/js/public/home/flowtime.js"></script>
	<script src="/js/public/home/prism.js"></script>
	<script src="/js/public/home/ander.js"></script>
	<script src="/js/public/home/custom.modernizr.js"></script>
	<script src="/js/public/home/foundation.min.js"></script>
	<script src="/js/public/home/TweenMax.min.js"></script>
	<script src="/js/public/home/jquery.fittext.js"></script>
	<script src="/js/public/home/supernova.unmin.js"></script>
	<!--SCRIPTS END-->
	<script type="text/javascript">
		$("#fittext1").fitText(0.3);
	</script>
</body>
</html>
